.content h1, p, button {
  margin: 1.25rem 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
  background-color: hsl(240deg, 78%, 98%);
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.mobileBackgroundImg {
  position: absolute;
  left: 64%;
  top: -5%;
  z-index: -1;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  text-align: center;
}
.container .content__basic,
.container .content__master {
  background: white;
  color: hsl(232deg, 13%, 33%);
  margin: 2rem;
  padding: 1rem 2rem;
  border-radius: 15px;
}
.container .content__basic hr,
.container .content__master hr {
  border: 1px solid hsl(234deg, 14%, 74%);
}
.container .content__professional {
  background: linear-gradient(to right, #a3a8f0, #696fdd);
  color: hsl(240deg, 78%, 98%);
  margin: 2rem;
  padding: 1rem 2rem;
  border-radius: 15px;
}
.container .heading {
  margin: 2rem;
}
.container .heading h1,
.container .heading h3 {
  color: hsl(232deg, 13%, 33%);
}
.container .patternToggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
  margin-top: 2rem;
}
.container .cost {
  display: flex;
  align-items: baseline;
  padding: 0rem 2rem;
}
.container span {
  font-size: 2rem;
}

.main button {
  width: 100%;
  padding: 1rem 0;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  background: linear-gradient(to right, #a3a8f0, #696fdd);
  color: hsl(240deg, 78%, 98%);
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.main button:hover {
  background: #fff;
  outline: 1px solid #696fdd;
  color: #696fdd;
  transition: 1s;
}
.main button:not(:hover) {
  transition: 1s;
}

.content__professional button {
  width: 100%;
  padding: 1rem 0;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  background: hsl(240deg, 78%, 98%);
  color: #696fdd;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.content__professional button:hover {
  background: linear-gradient(to right, #a3a8f0, #696fdd);
  outline: 1px solid hsl(240deg, 78%, 98%);
  color: hsl(240deg, 78%, 98%);
  transition: 1s;
}
.content__professional button:not(:hover) {
  transition: 1s;
}

.main h1 {
  font-size: 3.5rem;
}

.switch {
  position: relative;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.costTransition {
  transition: 2s;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #a3a8f0, #696fdd);
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(to right, #a3a8f0, #696fdd);
}
input:checked + .slider:before {
  transform: translateX(26px);
}

input:focus + .slider {
  box-shadow: 0 0 1px red;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}/*# sourceMappingURL=main.css.map */