@import "base";
@import "layout";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Montserrat;
  background-color: $VeryLightGrayishBlue;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.mobileBackgroundImg {
  position: absolute;
  left: 64%;
  top: -5%;
  z-index: -1;
  overflow: hidden;
}
.container {
  margin: 0 auto;
  text-align: center;
  .content__basic,
  .content__master {
    @include patternBackground(white, $DarkGrayishBlue);
    hr {
      border: 1px solid $LightGrayishBlue;
    }
  }
  .content__professional {
    @include patternBackground($LinearGradient, $VeryLightGrayishBlue);
  }
  .heading {
    margin: 2rem;
    h1,
    h3 {
      color: $DarkGrayishBlue;
    }
  }
  .patternToggle {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    font-size: 12px;
    margin-top: 2rem;
  }
  .cost{
    display: flex;
    align-items: baseline;
    padding: 0rem 2rem;
  }
  span {
    font-size: 2rem;
  }
}
.main {
  button {
    @include buttonStyle($LinearGradient, $VeryLightGrayishBlue,$white,$outlineHover,$outlineHover);
  }
}
.content__professional button {
  @include buttonStyle($VeryLightGrayishBlue, #696fdd,$LinearGradient,$VeryLightGrayishBlue,$VeryLightGrayishBlue);
}
.main h1 {
  font-size: 3.5rem;
}
.switch {
  position: relative;
  width: 60px;
  height: 34px;
  input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
}
.costTransition{
  transition: 2s;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:linear-gradient(to right, #a3a8f0 , #696fdd);;
  transition: .4s;
  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
}

input:checked + .slider {
  background:$LinearGradient;
  &:before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
  }
}
input:focus + .slider {
  box-shadow: 0 0 1px red;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  &:before {
    border-radius: 50%;
  }
}
